.dimensions{
    widht:400px;
    border:1px solid red;
    padding:5px;
    margin:10px;
    line-height:30px;
    min-height:10px;
    max-height:100px;
    min-width:20px;
    max-width:500px;
}
.scroll{
    display:block;
    border:1px solid red;
    margin-top:5px;
    padding:5px;
    min-height:20px;
    max-height:200px;
    width:300px;
    overflow:scroll;
}
.auto{
    display:block;
    border:1px solid red;
    margin-top:5px;
    padding:5px;
    min-height:20px;
    max-height:200px;
    width:300px;
    overflow:auto;
}
.no-show{
    visibility:visible;
}
.show{
    visibility:visible;
}
