body{
    padding:1.25em;
    /* @import url('https://fonts.googleapis.com/css2?family=Loved+by+the+King&display=swap'); */
    font-family: 'Loved by the King', cursive;

}
table{
    width:100%;
    border:1px solid #ddd;
    border-radius: 1em;
    border-spacing: 0;
    overflow:hidden;
}
th{
    background-color: #215a8e;
    color:white;
    text-align:left;
    text-transform:uppercase;
}
th,td{
    padding:1em;
}
tr:nth-child(even){
    background-color: #ddd;
}
